nav.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-primary

  a.navbar-brand(href='/') My Blog

  div.collapse.navbar-collapse(id='navbarNavAltMarkup')

    div.navbar-nav

      a.nav-item.nav-link(class=(url === '/blogList') ? 'active' : '', href='/blogList') List Blogs
      a.nav-item.nav-link(class=(url === '/blogAdd') ? 'active' : '', href='/blogAdd') Add Blog
