extends layout

block content
  body
    .container
      nav.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-primary
        a.navbar-brand(href='/') My Blog
        .collapse.navbar-collapse#navbarNavAltMarkup
          .navbar-nav
            a.nav-item.nav-link.active(href='/blogList') List Blogs
            a.nav-item.nav-link.active(href='/blogAdd') Add Blog
      .card.border-primary(style='width: 50%')
        form(method='post', action=`/blogDelete/${blog._id}`, style='padding: 20px')
          .form-group
            label.text-primary(for='summary') Blog Title
            input.readonly.form-control(id='blogTitle', name='blogTitle', value=blog && blog.title, readonly)
            label.text-primary(for='detail') Blog Text
            textarea.readonly.form-control(id='blogText', name='blogText', readonly)= blog && blog.text
          input(type='submit', class='btn btn-danger float-right', value='Delete Blog')
          a.btn.btn-primary.float-right(href='/blogList', style='margin-right: 25px', role='button') Cancel
  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
